.DS_Store
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
/SampleCode/Lab04/nbproject/private/
/SampleCode/CreditCardValidation/nbproject/private/
/SampleCode/DataStructures/nbproject/private/
/SampleCode/Associations/nbproject/private/
/SampleCode/Lab07/nbproject/private/
/SampleCode/Ch_9/nbproject/private/
/SampleCode/Lab06/nbproject/private/
/SampleCode/GUI/nbproject/private/
/SampleCode/Java2SampleCode/nbproject/private/
/SampleCode/Lab05/nbproject/private/
/SampleCode/Lab02/nbproject/private/
/SampleCode/Ch_11/nbproject/private/
/SampleCode/UnitTests/nbproject/private/
/SampleCode/Lab03/nbproject/private/
/SampleCode/Ch_8/nbproject/private/
/SampleCode/Ch_10/nbproject/private/
/SampleCode/Algorithms/nbproject/private/
/SampleCode/Test/nbproject/private/
/SampleCode/DataStructures/build/